

.section-title {
  text-align: center;
  margin-bottom: 75px;
}

.section-title h2 {
  padding-top: 10px;
  font-size: 36px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 97px;
  padding-bottom: 97px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

.rating i {
  color: #fbb710;
}

.rating .is-fade {
  color: #e0e3e4;
}

/*---------------------
  Commom elements
-----------------------*/


.cata {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 6px 25px;
}


/*----------------------
  Recent Game Section
------------------------*/

.recent-game-item .rgi-thumb {
  height: 204px;
  padding: 25px 28px;
}

.recent-game-item .rgi-content {
  padding: 34px 22px 20px;
  background: #fff;
  border: 1px solid #d6dee7;
  border-top: none;
  position: relative;
}

.recent-game-item .rgi-content h5 {
  margin-bottom: 20px;
  line-height: 1.5;
}

.recent-game-item .rgi-content .comment {
  font-size: 12px;
  color: #737373;
}

.recent-game-item .rgi-extra {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
}

.recent-game-item .rgi-extra .rgi-star,
.recent-game-item .rgi-extra .rgi-heart {
  height: 35px;
  width: 35px;
  float: left;
  display: block;
  padding: 6px 8px 0;
}

.recent-game-item .rgi-extra .rgi-star {
  background: #ffb320;
}

.recent-game-item .rgi-extra .rgi-heart {
  background: #ff205f;
}

.latest-blog .lb-item {
  margin-bottom: 23px;
  overflow: hidden;
}

.latest-blog .lb-item .lb-thumb {
  width: 97px;
  height: 97px;
  float: left;
}

.latest-blog .lb-item .lb-content {
  padding-left: 110px;
}

.latest-blog .lb-item .lb-content .lb-date {
  font-size: 12px;
  color: #ffb320;
  margin-bottom: 8px;
}

.latest-blog .lb-item .lb-content p {
  font-size: 12px;
  margin-bottom: 5px;
  color: #d3d3d3;
}

.latest-blog .lb-item .lb-content .lb-author {
  font-size: 12px;
  color: #d3d3d3;
  opacity: 0.45;
}

.top-comment {
  overflow: hidden;
}

.top-comment .tc-item {
  margin-bottom: 23px;
  overflow: hidden;
}

.top-comment .tc-item .tc-thumb {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  float: left;
}

.top-comment .tc-item .tc-content {
  padding-left: 100px;
}

.top-comment .tc-item .tc-content p {
  font-size: 12px;
  color: #d3d3d3;
  margin-bottom: 5px;
}

.top-comment .tc-item .tc-content p a {
  color: #ff205f;
}

.top-comment .tc-item .tc-content p span {
  color: #7a7a7a;
}

.top-comment .tc-item .tc-content .tc-date {
  font-size: 12px;
  color: #ffb320;
}

/*-----------------------------
   pagination
 -------------------------------*/
.pagination {
  display: block;
}

.pagination ul.page-numbers {
  padding-top: 30px;
  padding-left: 250px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
	.pagination {
	  text-align: center;
	}
	.pagination ul.page-numbers {
	  padding-top: 30px;
	  padding-left: 0px;
	  margin-bottom: 100px;
	}
  }

.pagination ul.page-numbers li {
  display: inline-block;
}
.pagination .page-numbers:not(ul) {
  display: block;
  text-align: center;
  width: 40px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.pagination .page-numbers:not(ul).curren,
.pagination .page-numbers:not(ul):hover {
  background: #8ab839;

  color: #fff;
}
.pagination .current {
  background: #8ab839;
  color: #fff;
}
/*-----------------
  Categories page
--------------------*/

.recent-game-page .recent-game-item {
  margin-bottom: 42px;
}

/*------------------
  Responsive
---------------------*/



/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu {
    margin-right: 90px;
  }
  .hero-slider .owl-dots {
    max-width: 930px;
  }
  .review-section {
    background-position: right 10% top;
  }
  .review-item .review-cover {
    height: 280px;
  }
  .latest-blog .lb-item .lb-thumb {
    width: 55px;
    height: 55px;
  }
  .latest-blog .lb-item .lb-content {
    padding-left: 67px;
  }
  .top-comment .tc-item .tc-content {
    padding-left: 95px;
  }
  .footer-top-bg {
    max-width: 370px;
  }
  .page-info-section .pi-content h2 {
    font-size: 50px;
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .recent-game-item {
    margin-bottom: 42px;
  }
  
  .review-section {
    background-position: left top;
  }
  .review-item {
    margin-bottom: 63px;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
  .latest-blog .lb-item .lb-thumb {
    width: 80px;
    height: 80px;
  }
  .latest-blog .lb-item .lb-content {
    padding-left: 95px;
  }
  
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
 
  .ln-title {
    padding-right: 30px;
  }
  .feature-item {
    margin-bottom: 30px;
  }
  .recent-game-item {
    margin-bottom: 42px;
  }
  .review-section {
    background-position: left top;
  }
  .review-item {
    margin-bottom: 63px;
  }
  .community-post-list li {
    padding: 30px 25px 30px;
  }
  .page-info-section .pi-content h2 {
    font-size: 50px;
  }
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
  
  .community-post-list .community-post .author-avator {
    float: none;
  }
  .community-post-list .community-post .post-content {
    padding-left: 0;
    padding-top: 30px;
  }
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
  
  .ln-title {
    display: none;
  }
  .news-ticker {
    width: 100%;
  }
  .latest-blog .lb-item .lb-thumb {
    width: 55px;
    height: 55px;
  }
  .latest-blog .lb-item .lb-content {
    padding-left: 67px;
  }
  .top-comment .tc-item .tc-content {
    padding-left: 85px;
  }
  .site-btn {
    padding: 11px 30px;
    min-width: 145px;
  }
  .comment-list .comment .comment-avator {
    float: none;
  }
  .comment-list .comment .comment-content {
    padding-left: 0;
    padding-top: 20px;
  }
  .page-info-section .pi-content h2 {
    font-size: 40px;
  }
}
